/* .container3{
    height: 1400px;
    width: 1205px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.carousel-item{
    height: 500px;
    width: 1105px;
    margin-left: 0px;
}
#carouselExampleCaptions{
    height: 500px;
    width: 1105px;
} */
